@import "_vars";
@import "_color";

*{
    margin: 0; 
    padding: 0;
    animation: all .2s;
}

body{
    background: $backgroundColor !important;
    color: $defaultColor;
     font-family: "Segoe UI","Segoe WP",Tahoma,Arial,sans-serif;
}

.left{
    float: left;
}

.right{
    float: right;
}

input, 
textarea{
    height: 34px;
    line-height: 32px;
    padding: 0 10px;
    border: 2px solid #ccc;
    outline: none;
    font: inherit;
}

textarea{
    padding-top: 10px;
    padding-bottom: 10px;
}

input:focus, 
textarea:focus{
    border-color: #444;
}

.ellipsable{
    display: inline-block;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.clearfix{
    display: block;
    clear: both;
}

.btn-primary{
    background-color: #d83168  !important;
    border-color: #bf275c !important;
}
.btn-primary:hover{
    background-color: #bf4f4c !important;
    border-color: #ad4846 !important;
}

.btn-primary:focus{
        background-color: #842624 !important;
    border-color: #4c1716 !important;
}

.btn-primary:active{
    background-color: #8c2624 !important;
    border-color: #6b1d1c !important;
}

#web-container{
    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    overflow: hidden;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

#top-bar{
    position: fixed;
    height: 45px;
    background: $primaryColorDark;
    color: $primaryColorDarkForeground;
    z-index: 300;
    width: 100%;
}

a#logo{
    display: inline-block;
    height: $headerHeight;

    img{
        display: block;
        height: 100%;
    }
}

.header-container{
     padding: 0 20px;
}

#portal-main{
    display: flex;
    flex-flow: row nowrap;
    height: calc(100% - 40px);
    padding-top: 45px;
}

#sidebar{
    background: $primaryColor;
    display: flex;
    position: fixed;
    height: calc(100% - 45px);
    z-index: 20;
}

main{
    position: relative;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    min-width: 600px;
    padding-left: 348px;
}

.sidebar-expanded main{
    padding-left: 480px;
}

#dashboard-menu{
    width: 68px;
    color: white;
    overflow: hidden;
    padding: 25px 0;
}

#menu-wrapper{
    width: 200px;
}

.sidebar-expanded #dashboard-menu{
    width: 200px;
}

.sidebar-expanded .menu-text{
    opacity: 1;
}

.sidebar-expanded .collapse{
    display: block;
}

.sidebar-expanded .expand{
    display: none;
}

#sidebar .collapse{
    display: none;
}

#bucket-list{
    width: 280px;
    background:white;
    border-right: 1px solid #f1f2f3
}

#bucket-list-wrapper{
    padding: 0px;
    min-height: 100%;
    // overflow-x: hidden;
    // overflow-y: auto;
}

#header-buckets{
    height: 45px;
    background: white;
    padding: 0 20px;
}

#header-buckets .bucket-title{
    display: inline-block;
    line-height: 45px;
    max-width: 90%;
    text-rendering: optimizeLegibility;
    overflow: hidden;
    font-weight: 400;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
    color: #a2a3a3;
}

.d-menu-item{
    display: block;
    padding: 4px 20px;
    cursor: pointer;

    &:hover, &.current{
        background: lighten($primaryColor, 5%);
    }
}

.menu-icon{
    float: left;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 8px;

    img{
        display: block;
        width: 100%;
    }

    &.lightbg{
        background: white;
    }
}

.menu-text{
    float: left;
    width: calc(100% - 36px);
    opacity: 0;
    color: white;

    span.ellipsable{
        line-height: 28px;

    }
}

#main-content{
    position: relative;
    margin: 0 0 0 25px;
    min-height: 100%;
}

#content-header{
    position: relative;
}

.pagelet-title{
    display: inline-block;
    font-size: 19px;
    line-height: 45px;
}

.pagelet-title-wrapper{
    max-width: 520px;
    margin-left: 308px;
}

.sidebar-expanded .pagelet-title-wrapper{
    margin-left: 440px;
}

#context-actions{
    list-style: none;
    padding: 0;

    li{
        float: left;

        a{
            display: inline-block;
            text-decoration: none;
            color: inherit;
            line-height: 45px;
            padding: 0 8px;

            &:hover{
                background: #efefef;
            }
        }
    }
}

#the-content{
    height: calc(100% - 65px);
    padding: 25px 0;
    // overflow-x: hidden;
    // overflow-y: auto;
}
